<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress_Winform_Controls_13.1.12" version="1.0.0" targetFramework="net452" />
  <package id="DevExpress_Winform_Controls_15.1.15" version="1.0.0" targetFramework="net452" />
  <package id="eXpandDashboardWin" version="12.2.8.9" targetFramework="net452" />
  <package id="Sparrow.Chart.Wpf" version="13.1.0.118" targetFramework="net452" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
</packages>